doctype html
html
    head
        title Thank You 
    body
    h1 Thanks for the info! The following was saved to the database:
        h4 Visitor Name: #{visitor}
        p id: #{id}
        p Assistant Name: #{assistant}  
        p Age: #{age}  
        p Date: #{date}
        p Time: #{time}  
        p Comment: #{comment}

          
            